# **Concrete Strength Prediction**
For concrete strength prediction here we have used 3 algorithms:

1.Linear Regression

2.Decision Tree Regressor

3.Random Forest Regressor

By using the above algorithms, we will train our model by providing training data and once the model will be trained, we will perform prediction.
After prediction, we will evaluate the performance of these algorithmns by error check and accuracy check.

### Steps been followed are as:
Step 1:Data Preprocessing

Step 2: Data training

Step 3: Model Creation

Step 4: Performance Evaluation

## Step 1- Data Preprocessing:

In [1]:
#importing pandas library to read data.
import pandas as pd

In [2]:
#loading data
data=pd.read_csv('./DataSets/concrete_data.csv')
data

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [3]:
#To view first 5 rows of the dataset.
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
#To view last 5 rows of the dataset.
data.tail()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [5]:
#converting data into int datatype to avoid errors below.
data=data.astype(int)
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540,0,0,162,2,1040,676,28,79
1,540,0,0,162,2,1055,676,28,61
2,332,142,0,228,0,932,594,270,40
3,332,142,0,228,0,932,594,365,41
4,198,132,0,192,0,978,825,360,44

In [6]:
#To view non-null, dtype, memory usage & range of the dataset.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   int32
 1   Blast Furnace Slag  1030 non-null   int32
 2   Fly Ash             1030 non-null   int32
 3   Water               1030 non-null   int32
 4   Superplasticizer    1030 non-null   int32
 5   Coarse Aggregate    1030 non-null   int32
 6   Fine Aggregate      1030 non-null   int32
 7   Age                 1030 non-null   int32
 8   Strength            1030 non-null   int32
dtypes: int32(9)
memory usage: 36.3 KB

In [7]:
#To view different columns of the dataset.
data.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [8]:
#to view statistical summary of all numerical columns of the dataset.
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,280.933981,73.762136,54.046602,181.279612,5.938835,972.657282,773.300971,45.662136,35.319417
std,104.585096,86.170344,63.856175,21.465127,5.831214,77.707820,80.122250,63.169912,16.705298
min,102.000000,0.000000,0.000000,121.000000,0.000000,801.000000,594.000000,1.000000,2.000000
25%,192.250000,0.000000,0.000000,164.000000,0.000000,932.000000,730.500000,7.000000,23.000000
50%,272.500000,22.000000,0.000000,185.000000,6.000000,968.000000,779.000000,28.000000,34.000000
75%,350.000000,142.750000,118.000000,192.000000,10.000000,1029.000000,824.000000,56.000000,45.750000
max,540.000000,359.000000,200.000000,247.000000,32.000000,1145.000000,992.000000,365.000000,82.000000

In [9]:
#check for any null values in the dataset.
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [10]:
data.isnull().sum().sum()

0

The data is clean i.e. no missing or inappropriate values found.

## Step 2 Data training:

In [11]:
# Import train_test_split from sklearn.model_selection
from sklearn.model_selection import train_test_split
# Here, X is the data which will have features and y will have our target i.e. strength.
X=data[['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age']]  
y=data['Strength']

In [12]:
# Split data into training data and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=500) 
#Ratio used for splitting training and testing data is 8:2 respectively.

In [13]:
#to view length of training data.
len(X_train)

824

In [14]:
#to view length of testing data.
len(X_test)

206

## Step 3- Model Creation:

### **Linear Regression**

In [15]:
# Importing linear regression model
from sklearn.linear_model import LinearRegression 
reg1 = LinearRegression()

In [16]:
# Fitting data into the model.
reg1.fit(X_train, y_train)

LinearRegression()

In [17]:
# Making predictions 
pred1 = reg1.predict(X_test)

In [18]:
pred1

array([50.56059863, 50.21047465, 38.04490151, 38.3156941 , 29.56284962,
       30.75103197, 45.77586631, 41.26107651, 10.12486307, 25.90578348,
       29.06438418, 52.90488571, 23.38332453, 38.85004576, 31.67111523,
       33.6059699 , 33.81951902, 28.59953336, 23.90433358, 38.50926211,
       27.36857007, 29.78202169, 34.44691637, 28.86872032, 53.34901389,
       22.62191785, 32.89970566, 24.14420269, 46.52063587, 47.7600064 ,
       22.62716035, 39.71657815, 31.66186304, 36.60207658, 26.95429446,
       32.83380528, 53.4294485 , 31.90799494, 36.18330131, 27.55391628,
       26.70728477, 53.75476327, 39.61124477, 32.34632769, 36.07424462,
       45.69389389, 47.26739585, 24.26392353, 51.36838682, 23.44953657,
       33.14181395, 33.623664  , 50.43969879, 55.68068685, 19.78192164,
       36.1732422 , 23.615643  , 42.81836722, 78.09013094, 30.62774546,
       33.78173302, 53.34901389, 28.5255484 , 67.26975627, 53.34901389,
       21.19145072, 22.51136896, 20.20858345, 44.98420526, 52.51284547,
       26.41784013, 48.60962142, 26.39886198, 25.41089185, 48.88870293,
       53.37060545, 33.61712513, 40.14369058, 52.694664  , 29.13304039,
       19.60500521, 60.69737928, 50.00862265, 25.06040209, 15.87367153,
       59.97680082, 45.41694307, 29.39535579, 39.00700062, 23.24688634,
       37.09721356, 27.88053804, 19.04513745, 36.11021431, 24.26392353,
       14.02965454, 28.27566366, 38.94904334, 32.15867798, 62.81322037,
       59.33531449, 41.78280176, 26.02329652, 32.14938329, 22.64084998,
       38.05161029, 28.90863043, 26.58216906, 25.06354596, 35.77307219,
       48.76126664, 22.18039735, 43.22372842, 25.04457535, 22.08697468,
       45.03321966, 23.49782163, 58.78958413, 35.96036458, 30.61502009,
       53.51666312, 20.74124104, 53.55072087, 41.95894304, 34.04306993,
       31.53689768, 40.69245586, 53.2075838 , 32.24899131, 17.75726536,
       36.33830353, 37.2754267 , 24.45588623, 18.30413335, 15.87367153,
       59.90914345, 39.36508836, 48.6667886 , 41.94638921, 55.88026902,
       24.80550091, 55.80356128, 26.92000383, 38.65064647, 29.10189054,
       16.94005433, 47.86085032, 48.45271592, 61.38505124, 31.09761437,
       22.13541734, 17.6313849 , 57.3155701 , 17.6334009 , 23.21127519,
       11.22238177, 24.34846422, 21.43487574, 26.34602062, 35.00809627,
       17.56552758, 38.29129627, 28.17064378, 45.42833344, 55.75691218,
       33.4545757 , 29.20522473, 52.92647727, 58.6596727 , 33.98892862,
       47.87880169, 30.9111474 , 26.99851713, 23.60746011, 34.51690807,
       23.36086994, 29.14009403, 39.61124477, 26.3974798 , 19.07525362,
       22.12578776, 21.57621926, 46.03875743, 29.3579702 , 23.61589675,
       33.16613054, 57.47202323, 58.53208666, 27.771341  , 49.91886286,
       47.71825045, 36.10909205, 50.65010899, 11.71172887, 18.10608614,
       29.60515877, 33.08068077, 20.05247487, 53.35097276, 24.41864764,
       42.9370203 , 16.77185111, 56.56213223, 19.16590405, 37.99260333,
       34.36936234])

In [19]:
len(pred1)

206

In [20]:
print("Accuracy of the LinearRegression model comes to be: \n ") 
print(reg1.score(X_train,y_train))

Accuracy of the LinearRegression model comes to be:

0.6136179224215672

## **Decision Tree Regressor**

In [21]:
# Importing decision tree regressor 
from sklearn.tree import DecisionTreeRegressor 
reg2 = DecisionTreeRegressor()

In [22]:
#Fitting data into the model.
reg2.fit(X_train, y_train)

DecisionTreeRegressor()

In [23]:
# Making predictions on Test data 
pred2 = reg2.predict(X_test)

In [24]:
pred2

array([44.        , 65.        , 26.        , 19.        , 22.        ,
       29.        , 37.        , 33.        , 13.        , 25.        ,
       37.        , 33.        , 13.        , 31.        , 22.        ,
       30.        , 29.        , 50.        , 26.        , 57.        ,
       40.        , 12.        , 34.        , 38.        , 36.        ,
       14.        , 26.        , 13.        , 43.        , 59.        ,
       25.        , 42.        , 40.        , 40.        , 40.        ,
       40.        , 67.        , 44.        , 43.        , 15.        ,
       17.        , 54.        , 46.        , 43.        , 19.        ,
       65.        , 66.        , 15.        , 67.        , 19.        ,
       39.        , 30.        , 42.        , 60.        , 22.        ,
        9.        , 24.        , 43.        , 71.        , 36.        ,
       33.        , 36.        , 29.        , 43.        , 36.        ,
       15.        , 25.        , 14.        , 24.        , 25.        ,
       25.        , 65.        , 23.        , 30.        , 59.        ,
       36.        , 17.        , 48.        , 64.        , 13.        ,
       11.        , 33.        , 41.        , 46.        , 11.        ,
       79.        , 60.        , 37.        , 33.        , 19.        ,
       52.        , 12.        , 12.        , 19.        , 15.        ,
       13.        , 23.        , 38.        , 29.        , 71.        ,
       73.        , 55.        , 14.        , 25.        , 17.        ,
       48.        , 32.        , 14.        , 26.        , 33.        ,
       24.        , 25.        , 52.        , 17.        , 17.        ,
       42.        , 21.        , 64.        , 36.        , 25.        ,
       67.        , 21.        , 45.        , 39.        , 39.        ,
       37.        , 27.        , 61.        , 48.        , 12.        ,
       37.        , 43.        , 23.        , 15.        , 11.        ,
       62.        , 40.        , 55.        , 45.        , 74.        ,
       21.        , 64.        , 29.        , 39.        , 25.        ,
       24.        , 34.        , 53.        , 36.        , 39.        ,
       13.        ,  3.        , 67.        , 28.        , 22.        ,
        4.        , 18.        , 15.        , 22.        , 42.        ,
       10.        , 49.        , 19.        , 38.        , 55.        ,
       22.        , 24.        , 41.        , 55.        , 41.        ,
       40.        , 19.        , 19.        , 23.        , 40.        ,
       25.        , 27.        , 46.        , 32.        , 31.        ,
       22.        , 14.        , 68.        , 31.        , 24.        ,
       31.        , 41.        , 68.        , 44.        , 35.        ,
       25.        , 51.        , 44.        , 10.        , 15.        ,
       29.        , 33.        , 14.        , 67.        , 25.        ,
       52.        , 17.        , 57.33333333, 11.        , 12.        ,
       33.        ])

In [25]:
print("Accuracy of the Decision Tree Regressor  model comes to be: \n ") 
print(reg2.score(X_train,y_train))

Accuracy of the Decision Tree Regressor  model comes to be:

0.9956195447608779

## **Random Forest Regressor**

In [26]:
#Importing random forest regressor 
from sklearn.ensemble import RandomForestRegressor 
reg3 = RandomForestRegressor(n_estimators=100)

In [27]:
# Fitting data into the model.
reg3.fit(X_train, y_train)

RandomForestRegressor()

In [28]:
#making predictions.
pred3 = reg3.predict(X_test) 
pred3

array([49.45      , 62.345     , 31.54      , 18.16      , 27.36      ,
       29.03      , 38.29      , 33.24      ,  8.28      , 29.37      ,
       35.5       , 33.03      , 14.53      , 37.68      , 21.24333333,
       32.91      , 32.47      , 44.47      , 26.71      , 52.11      ,
       29.04      , 14.91333333, 36.18      , 38.66      , 42.42583333,
       15.47      , 29.6       , 13.66      , 50.73      , 60.23      ,
       24.1       , 46.99      , 37.35      , 43.16      , 35.53      ,
       40.95      , 64.66      , 42.59      , 39.67      , 16.        ,
       16.88      , 54.078     , 44.51      , 40.86      , 16.48      ,
       60.3       , 63.585     , 15.05      , 58.08      , 22.73      ,
       36.94      , 32.79      , 35.1725    , 60.22      , 25.14      ,
       16.51      , 23.76      , 48.3       , 69.65      , 37.7       ,
       29.54      , 42.42583333, 36.04      , 42.07      , 42.42583333,
       15.26      , 27.53      , 14.24      , 26.63      , 36.02911111,
       27.7       , 60.585     , 22.92      , 29.21      , 48.84583333,
       45.16807143, 16.35      , 47.37      , 66.25      , 14.36      ,
       10.56      , 35.27666667, 43.93      , 47.14      , 11.6       ,
       78.76      , 54.28      , 35.98      , 24.55466667, 22.73      ,
       50.36      , 14.18      , 12.43      , 21.71      , 15.05      ,
        8.65      , 28.04      , 44.22      , 28.51      , 71.21      ,
       70.24      , 50.48      , 16.16      , 32.48      , 14.57      ,
       47.37      , 30.88      , 16.27      , 27.41      , 31.56      ,
       29.03      , 27.13      , 51.58      , 15.47      , 16.42      ,
       42.54      , 27.83      , 63.84      , 36.35      , 25.47      ,
       60.57      , 24.08      , 43.98      , 41.8       , 38.52      ,
       36.26      , 34.77      , 58.02361905, 45.55      , 13.06      ,
       39.16      , 45.89      , 29.45      , 12.91      , 11.6       ,
       58.8       , 40.805     , 53.        , 46.26      , 64.91      ,
       20.42      , 67.77      , 28.72      , 41.16      , 24.15      ,
       28.08      , 37.13785714, 51.86      , 36.44      , 41.99      ,
       13.67      ,  7.71      , 66.04      , 30.01      , 22.86      ,
        6.98      , 22.4       , 12.91      , 34.42      , 42.01      ,
       11.01      , 47.33      , 16.53      , 33.32821429, 61.57      ,
       22.06      , 24.11      , 34.39      , 54.7       , 38.29      ,
       39.1775    , 17.47      , 22.08      , 24.69      , 38.76      ,
       25.48      , 35.7       , 44.51      , 31.2       , 25.69      ,
       25.35      , 14.56      , 58.153     , 32.46      , 25.24      ,
       33.39      , 41.44      , 62.19      , 39.32      , 35.1       ,
       27.60966667, 44.64      , 42.32628571, 11.2       , 12.65      ,
       27.13      , 34.72      , 15.83      , 60.57      , 31.03      ,
       51.23      , 17.25      , 58.14888095, 10.61      , 16.42      ,
       31.56      ])

In [29]:
print("Accuracy of the Random Forest Regressor  model comes to be: \n ") 
print(reg3.score(X_train,y_train))

Accuracy of the Random Forest Regressor  model comes to be:

0.983387060140012

## Step 4: Performance Evaluation:

In [30]:
import numpy as np
from sklearn.metrics import mean_squared_error
print("Model\t\t\t RootMeanSquareError \t\t Accuracy of the model") 
print("""Linear Regression \t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred1)), reg1.score(X_train,y_train)))
print("""Decision Tree Regressor\t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred2)), reg2.score(X_train,y_train)))
print("""Random Forest Regressor\t\t {:.4f} \t \t\t {:.4f}""".format(  np.sqrt(mean_squared_error(y_test, pred3)), reg3.score(X_train,y_train)))

Model			 RootMeanSquareError 		 Accuracy of the model
Linear Regression 		 10.7989 	 		 0.6136
Decision Tree Regressor		 6.1652 	 		 0.9956
Random Forest Regressor		 5.4189 	 		 0.9834